/* Base layout for desktop */
.layout {
  display: grid;
  gap: 4px;
  grid-template-rows: 40px auto 80px 40px;
  grid-template-columns: 160px auto auto;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "sidebar widget widget"
    "footer footer footer";
  height: 100vh;
}

header {
  grid-area: header;
  background: #c08bfd;
}
footer {
  grid-area: footer;
  background: #c08bfd;
}
nav {
  grid-area: sidebar;
  background: #f6c356;
}
main {
  grid-area: main;
  background: #b2ee94;
}
.widget {
  grid-area: widget;
  background: #99c2fe;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

/* Media query for tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .layout {
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    grid-template-rows: 40px calc(100vh - 40px - 40px - 60px); /* 100vh for main content area */
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar widget"
      "footer footer";
  }
}

/* Media query for mobile */
@media (max-width: 767px) {
  .layout {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: 40px auto auto auto auto auto 60px; /* Adjust rows as needed */
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "widget"
      "widget"
      "footer";
  }
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: none;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Form Styles */
form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Button Styles */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  transition: color 0.3s;
}

button:hover {
  color: #333;
}
