/* .calendar {
  display: flex;
  background-color: beige;
  color: red;
  gap: 5;
} */
/* Modal Styles */

/* @keyframes plane-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-plane {
  animation: plane-animation 2s infinite;
} */

.modal {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(225, 13, 13, 0.102);
  width: 50%;
  height: auto;
  overflow: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1rem 3rem;
  border: none;
  border-radius: 8px;
  max-width: 100%;
  box-shadow: 0px 0px 20px rgba(228, 19, 19, 0.2);
}
.openModal {
  /* color: grey; */
  gap: 0.25rem;
  padding: auto;
}
.close {
  color: #f2eeed;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #c8102eff;
  text-decoration: none;
}

i {
  cursor: pointer;
}
/* Form Styles */
form {
  display: grid;
  grid-gap: 10px;
}

label {
  font-weight: bold;
  color: rgb(221, 28, 28);
}

input[type="email"],
input[type="text"],
input[type="password"],
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #f2eeed;
  border-radius: 5px;
  font-size: 25px;
  background-color: #f0f0f0;
}

button[type="submit"] {
  background-color: #f1be48;
  outline: 2px solid #f1be48;
  color: black;
  border: none;
  cursor: pointer;
  justify-content: center;
}

button[type="submit"]:hover {
  background-color: #f1be48;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
