.weather-icon {
  font-size: 14px;
  /* Adjust the font size for weather icons */
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.forecast-header {
  font-size: 18px;
  font-weight: bold;
}

.weather-info p {
  margin: 0;
  font-size: 18px;
}

.forecast-container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.forecast-container p {
  text-align: center;
}

.forecast-item {
  flex: 0 0 auto;
  padding: 4px;
  scroll-snap-align: start;
}
