.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1be48ff;
}

.main-container {
  display: flex;
  width: 100%;
}

.event-container {
  width: 15%;
}
