/* @tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
} */

.header {
  display: flex;
  align-items: center;
  background-color: black;
}

.navIcon {
  width: 20px;
  height: 20px;
  padding: 8px;
  cursor: pointer;
}

.navIcon:hover {
  border-radius: 50%;
  background: #efefee;
}

.todayButton {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 8px;
}
