.card {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.card:hover {
  background-color: #f1be48ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card svg {
  margin-right: 0.25em;
}

.card-toprow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#card {
  margin: 2rem;
  padding: 0;
}
