.card {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 0.5em;
}

.card svg {
  margin-right: 0.25em;
}

.card-toprow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#card {
  margin: 2rem;
  padding: 0;
}
