#card {
  position: relative;
  background-color: gray;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  padding: 10px;
}
.itinerary {
}

.weather-info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  color: black;
}

.weather-info img {
  width: 70px;
  height: auto;
  margin-right: 5px;
}

.weather-info p {
  margin: 0;
  font-size: 14px;
}
