body {
  display: flex;
  flex-flow: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 85vw;
  height: 85vh;
}

#searchForm {
  align-self: center;
  width: 300px;
  margin-bottom: 1em;
}

#searchForm input {
  width: 100%;
}

#map {
  align-self: center;
  width: 80%;
  height: 500px;
  border: 2px solid black;
}
