@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  border: 2px solid black;
  width: 100%;
  height: auto;
  background-color: #f0f0f0;
  border: none;
}

.info-window {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.info-window button {
  color: black;
  border: 2px solid black;
}

.info-text {
  color: black;
  text-align: center;
  font-style: italic;
}

.info-pic {
  aspect-ratio: 4/3;
  max-height: 185px;
  border-radius: 5px;
  margin-bottom: 1em;
}

.map {
  display: flex;
  width: 50%;
  height: 100%;
  margin: 2rem;
}
