@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  /* Adjust width as needed */
  height: 100%;
  /* Adjust height as needed */
  background-color: #f0f0f0;
  /* Optional: Add background color */
  border: none;
}

.map {
  margin-top: 1.5em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
